*.out
*.err
*.pickle
*.mp4
*.prof

__pycache__

paper/*.pdf
paper/*.log
paper/*.aux
paper/*.bbl
paper/2104.09515
paper/*.blg
paper/*.synctex.gz

paper-ApJ/aastex631
paper-ApJ/aastexv631.tar.gz
paper-ApJ/*.pdf
paper-ApJ/*.log
paper-ApJ/*.aux
paper-ApJ/*.bbl
paper-ApJ/*.blg
paper-ApJ/*.synctex.gz


/runs
initial_conditions
hose_runs
*.hdf5
*.o

to_try.txt

movies/*/data

.DS_Store
plots/movie_5panel/__pycache__/make_movie.cpython-37.pyc

plots/movie_5panel/data*
plots/movie_tp/data*
plots/torques/data*
plots/movie_corot/data*
plots/bar_orbis/data*
plots/phase_space/data*
plots/in_bar/data*
plots/bar_prop/data*
plots/bar_orbits/data*
plots/freq/data*
plots/agama_pot/data*
.ipynb_checkpoints

plots/mockHST/*.npy

plots/*/data*
analysis/*/data*

plots/torques/src

plots/phase_space/compute_phase_space
plots/torques/ComputeBarTorques
plots/fourier_component/ComputeFourier

notebooks/data
prof.dat

*.swp

local_plots
local_notebooks

