*.out
*.err
*.pickle
*.mp4
*.prof

__pycache__

paper/*.pdf
paper/*.log
paper/*.aux
paper/*.bbl

runs
initial_conditions
hose_runs
*.hdf5

to_try.txt

.DS_Store
plots/movie_5panel/__pycache__/make_movie.cpython-37.pyc

plots/movie_5panel/data*
plots/movie_tp/data*
plots/torques/data*
plots/movie_corot/data*
.ipynb_checkpoints

*.swp

local_plots
local_notebooks

