*.out
*.err
*.pickle
*.mp4
*.prof

__pycache__

paper/*.pdf
paper/*.log
paper/*.aux
paper/*.bbl

runs
hose_runs
*.hdf5

.DS_Store
plots/movie_5panel/__pycache__/make_movie.cpython-37.pyc

plots/movie_5panel/data*
plots/movie_tp/data*
.ipynb_checkpoints
